.App{
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
}
.input_page{
    text-align: center;
    position: relative;
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
}

.input_wrap {
    box-sizing: border-box;
    width: calc(100% - 40px);
    max-width: 700px;
    margin: 0 auto;
    height: 100%;
    min-height: 708px;
    display: table;
    table-layout: fixed;
}
.input_box{
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.input_head{
    padding-top: 70px;
    padding-bottom: 30px;
}

.input_form{
    box-sizing: border-box;
    overflow: hidden;
}

.datePicker, .input_btn_under, .input_btn, .home_btn, .home_btn_under, .ok_btn, .ok_btn_under{
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
    text-align: center;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid gray;
    font-size: 16px;
    line-height: 30px;
    color: black;
}
.datePicker{
    cursor: text;
}
.datePicker:hover {
    border-color: #6c89c6;;
    transition: all 0.2s ease;
}
.datePicker:hover::placeholder {
    color: #6c89c6;;
    transition: color 0.2s ease;
}
.datePicker:focus{
    border-color: #6c89c6;;
}
.input_btn_wrap{
    position: relative;
    text-decoration: 0;
    display: block;
    width: 100%;
    height: 45px;
    overflow: hidden;
    text-align: center;
    line-height: 43px;
    margin-top: 6px;
}
.input_btn_wrap_div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.input_btn_wrap_div .input_btn_wrap{
    max-width: 600px;
    position: absolute;
    bottom: 20px;
}
.input_btn_under{
    position: absolute;
    left: 0;
    border: 1px solid black;
    padding: 0;
    color: white;
    line-height: 43px;
    background-color: black;
    font-weight: bold;
}
.input_btn{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    border: 1px solid black;
    padding: 0;
    color: black;
    overflow: hidden;
    background-color: #ffffff;
    font-weight: bold;
    line-height: 43px;
    transition: height 0.4s ease;
    transition: width 0.4s ease;
}
.input_btn > span{
    line-height: 43px;
    width: calc(100vw - 40px);
    max-width: 700px;
    position: absolute;
    font-weight: bold;
    border: 0;
    margin: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
}
.input_btn_wrap:hover .input_btn{
    width: 100%;
}

.home_btn_under{
    position: absolute;
    left: 0;
    border: 1px solid #6c89c6;;
    padding: 0;
    line-height: 43px;
    color: white;
    background-color: #6c89c6;;
    font-weight: bold;
}
.home_btn{
    position: absolute;
    left: 700px;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    border: 1px solid #6c89c6;;
    padding: 0;
    color: #6c89c6;;
    overflow: hidden;
    background-color: #ffffff;
    font-weight: bold;
    line-height: 43px;
    transition: all 0.4s ease;
}
@media all and (max-width: 740px) {
    .home_btn{
        left: calc(100vw - 42px);
    }
}
.home_btn > span{
    line-height: 43px;
    width: calc(100vw - 40px);
    max-width: 700px;
    position: absolute;
    font-weight: bold;
    border: 0;
    margin: 0;
    right: 0;
    bottom: 0;
    display: block;
}
.input_btn_wrap:hover .home_btn{
    border: 1px solid #6c89c6;
    left: 0;
    width: 100%;
    max-width: 700px;
}
.ok_btn_under{
    position: absolute;
    left: 0;
    border: 1px solid black;
    padding: 0;
    line-height: 43px;
    color: white;
    background-color: black;
    font-weight: bold;
}

.ok_btn{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    border: 1px solid black;
    padding: 0;
    color: white;
    overflow: hidden;
    background-color: #6c89c6;
    font-weight: bold;
    line-height: 43px;
    transition: all 0.4s ease;
}
.ok_btn > span{
    line-height: 43px;
    position: absolute;
    font-weight: bold;
    border: 0;
    margin: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
}
.input_btn_wrap:hover .ok_btn{
    border: 1px solid #6c89c6;
    height: 100%;
}
.date_message{
    height: 12px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    /* margin-bottom: 2px; */
}
.modal_btn_under{
    border: 1px solid #6c89c6;;
    padding: 0;
    width: 20vw;
    line-height: 43px;
    color: white;
    background-color: #6c89c6;;
    font-weight: bold;
}
.modal_btn{
    height: 0;
    width: 20vw;
    border: 1px solid #6c89c6;;
    padding: 0;
    color: #6c89c6;;
    overflow: hidden;
    background-color: #ffffff;
    font-weight: bold;
    line-height: 43px;
    transition: height 0.4s ease;
}
.modal_btn > span{
    line-height: 43px;
    position: absolute;
    font-weight: bold;
    border: 0;
    margin: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
}
.result_wrap{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.result_title{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.result_box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: absolute;
}
.result_boxR{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: absolute;
    left: max(calc(50% - 450px), 0px);
}
.result_boxN{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: absolute;
    left: max(calc(50% - 175px), 0px);
}
.result_div{
    width: 350px;
    min-width: 350px;
}
.product_img{
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: translate(0px, -200px);
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
        transform: translate(0px, -200px);
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
        transform: translate(0px, -200px);
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
        transform: translate(0px, -200px);
    }
    to {
        opacity: 1;
    }
}
.next_img{
    animation: scale 1s;
    -moz-animation: scale 1s; /* Firefox */
    -webkit-animation: scale 1s; /* Safari and Chrome */
    -o-animation: scale 1s; /* Opera */
}
@keyframes scale {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes scale { /* Firefox */
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes scale { /* Safari and Chrome */
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes scale { /* Opera */
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
    }
}
/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
::-webkit-scrollbar {
    display: none;
}
@media screen and (max-height: 640px){
    .input_box{
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 460px){
    .input_box{
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
    }
}