.App{
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
}
.home_page{
    text-align: center;
    position: relative;
    /* overflow: scroll; */
    height: auto;
    width: 100vw;
    min-height: 100%;
    box-sizing: border-box;
}
.home_wrap {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    /* min-height: calc(100vh - 156px); */
    min-height: 788px;
    display: table;
    table-layout: fixed;
}
.home_box{
    box-sizing: border-box;
    /* display: table-cell; */
    min-height: 788px;
    display: flex;
    vertical-align: middle;
}
.top_section{
    background-color: transparent;
    min-height: 788px;
}
.bottom_section{
    background-color: rgb(235, 238, 255);
    min-height: 788px;
}
.home_top{
    width: 50vw;
    /* min-width: 400px; */
    /* max-width: 600px; */
    height: calc(100vh - 53px);
    padding-bottom: 53px;
    /* max-height: 600px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.home_bottom{
    width: 50vw;
    /* min-width: 400px; */
    /* max-width: 600px; */
    height: calc(100vh - 53px);
    padding-bottom: 53px;
    /* max-height: 600px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.home_img_box{
    line-height: 0;
}
.home_top_img{
    line-height: 0;
}
.home_top_title{
    font-size: 40px;
    letter-spacing: -0.3px;
}
.home_top_title:nth-child(2n+1){
    margin-bottom: 0;
}
.home_mid_title{
    font-size: 40px;
    letter-spacing: -0.3px;
}
.home_mid_title:nth-child(2n+1){
    margin-bottom: 0;
}
.home_bottom_title{
    font-size: 40px;
    letter-spacing: -0.3px;
}
.home_bottom_title:nth-child(2n+1){
    margin-bottom: 0;
}
.home_top_panda{
    margin-top: 0;
    color: #6E85F1;
}
.home_mid_panda{
    margin-top: 0;
    color: #000000;
}
.home_bottom_panda{
    margin-top: 0;
    color: #ffffff;
}
.home_bottom_panda a{
    background-color: black;
}
.home_mid_list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
}
.home_mid_list li{
    width: 100px;
    margin: 10px 5px;
    text-align: left;
}
.home_text{
    text-align: left;
    width: 380px;
    /* margin-right: 50px; */
    padding-bottom: 50px;
}
.home_text:nth-child(1){
    text-align: right;
    width: 380px;
    /* margin-left: 50px; */
    padding-bottom: 0px;
    padding-top: 50px;
}
.home_mid_text{
    text-align: right;
}
.home_text p{
    margin: 5px 0;
    letter-spacing: -0.3px;
    font-size: min(5vw, 16px);
}
.home_mid_text p{
    margin: 5px 0;
    letter-spacing: -0.3px;
    font-size: min(5vw, 16px);
}
.home_mem{
    margin-top: 20px;
    position: relative;
    text-decoration: 0;
    display: block;
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 43px;
}
.home_mem_btn_under{
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 45px;
    font-size: 16px;
    line-height: 30px;
    position: absolute;
    left: 0;
    border: 1px solid #6E85F1;
    padding: 0;
    color: white;
    line-height: 43px;
    background-color: #6E85F1;
    font-weight: bold;
}
.home_mem_btn{
    cursor: pointer;
    outline: none;
    /* width: 100%; */
    width: 0;
    height: 45px;
    font-size: 16px;
    line-height: 30px;
    position: absolute;
    left: 380px;
    right: 0;
    bottom: 0;
    /* height: 0; */
    border: 1px solid #6E85F1;
    padding: 0;
    color: #6E85F1;
    overflow: hidden;
    background-color: #ffffff;
    font-weight: bold;
    line-height: 43px;
    /* transition: height 0.4s ease; */
    /* transition: width 0.4s ease; */
    transition: all 0.4s ease;
}
.home_mem_btn_left{
    cursor: pointer;
    outline: none;
    /* width: 100%; */
    width: 0;
    height: 45px;
    font-size: 16px;
    line-height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 0; */
    border: 1px solid #6E85F1;
    padding: 0;
    color: #6E85F1;
    overflow: hidden;
    background-color: #ffffff;
    font-weight: bold;
    line-height: 43px;
    /* transition: height 0.4s ease; */
    /* transition: width 0.4s ease; */
    transition: all 0.4s ease;
}
.home_mem_btn > span{
    line-height: 43px;
    width: 380px;
    position: absolute;
    font-weight: bold;
    border: 0;
    margin: 0;
    right: 0;
    /* left: 0; */
    bottom: 0;
    display: block;
}
.home_mem_btn_left > span{
    line-height: 43px;
    width: 380px;
    position: absolute;
    font-weight: bold;
    border: 0;
    margin: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
}
.home_mem:hover .home_mem_btn{
    /* height: 100%; */
    left: 0;
    width: 100%;
}
.home_mem:hover .home_mem_btn_left{
    /* height: 100%; */
    width: 100%;
}

.list_wrap{
    width: 100%;
    overflow: hidden;
}
@media screen and (max-width: 800px){
    .home_box{
        flex-direction: column;
    }
}
@media screen and (max-width: 400px){
    .home_box{
        flex-direction: column;
    }
    .home_mem_btn > span{
        width: 90vw;
    }
    .home_mem_btn_left > span{
        width: 90vw;
    }
    .home_mem_btn{
        left: 90vw;
    }
    .home_text{
        width: 90vw;
    }
    .home_text:nth-child(1){
        text-align: right;
        width: 90vw;
    }
    .home_top_title{
        font-size: 9vw;
    }
    .home_mid_title{
        font-size: 9vw;
    }
    .home_bottom_title{
        font-size: 9vw;
    }
}
@media screen and (max-width: 200px){
    .home_top_img{
        width: 100vw;
        height: 100vh;
    }
    .home_bottom_img{
        width: 100vw;
        height: 100vh;
    }
}